body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

#container {
    text-align: center;
}

#bars {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 300px;
    margin-bottom: 30px;
}

.bar {
    width: 20px;
    margin: 0 5px;
    background-color: #2c84a2;
    height: 150px;
    width: 80%;
    transition: height 0.1s ease;
}

#time {
    font-size: 5rem;
    margin-bottom: 30px;
}

#decibel {
    font-size: 15rem;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
}

#dbValue {
    display: inline-block;
    width: 200px;
    text-align: right;
    margin-right: 70px;
}

#warning {
    font-size: 20rem;
    color: white;
    font-weight: bold;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    display: none;
    background-color: red;
    padding: 20px;
}
